<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrL3qSxrSU8I8Uzw02FzlZoYzu-yQDYO0</string>
	<key>GCM_SENDER_ID</key>
	<string>256075936726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.nordify.lotspot</string>
	<key>PROJECT_ID</key>
	<string>lotspot-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lotspot-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256075936726:ios:debe31321e131ed85eea77</string>
</dict>
</plist>